### Nota
Este código importa todos los archivos .csv que esten en la carpeta VehiculosExportados y los agrupa en un solo DF, contiene los datos de Vehículos Exportados del 2005-2021.

In [18]:
import pandas as pd
import glob
import geojson
import geopandas as gpd

path = "Balancecomercial" # use your path
frame = pd.read_csv(filename, index_col=None, header=0)

frame

,Anio,Country ID,Country,Trade Value Export,Trade Value Import,Trade Value Delta,ISO 3
0,2020,ago,Angola,89352.0,3911,85441,AGO
1,2020,bfa,Burkina Faso,51080.0,715,50365,BFA
2,2020,caf,República Centroafricana,0.0,20,-20,CAF
3,2020,civ,Côte d'Ivoire,2953681.0,52266,2901415,CIV
4,2020,cmr,Camerún,152062.0,23,152039,CMR
...,...,...,...,...,...,...,...
2590,2006,lca,Santa Lucía,2585.0,0,2585,LCA
2591,2006,vct,San Vicente y las Granadinas,2869.0,0,2869,VCT
2592,2006,fsm,Micronesia,25984.0,0,25984,FSM
2593,2006,pry,Paraguay,3193899.0,0,3193899,PRY
2594,2006,sur,Suriname,1105.0,0,1105,SUR

In [3]:
frame.columns

Index(['Anio', 'Country ID', 'Country', 'Trade Value Export',
       'Trade Value Import', 'Trade Value Delta', 'ISO 3'],
      dtype='object')

In [24]:
exportsMCountryYear = frame.groupby(["ISO 3", "Anio"])["Trade Value Export"].sum().unstack().reset_index()
exportsMMatrix = exportsMCountryYear.fillna(0).rename_axis("", axis="columns").rename(columns={
    "ISO 3":"iso3",
    2006:"exportsM2006",
    2007:"exportsM2007",
    2008:"exportsM2008",
    2009:"exportsM2009",
    2010:"exportsM2010",
    2011:"exportsM2011",
    2012:"exportsM2012",
    2013:"exportsM2013",
    2014:"exportsM2014",
    2015:"exportsM2015",
    2016:"exportsM2016",
    2017:"exportsM2017",
    2018:"exportsM2018",
    2019:"exportsM2019",
    2020:"exportsM2020",
})
exportsMMatrix

,iso3,exportsM2006,exportsM2007,exportsM2008,exportsM2009,exportsM2010,exportsM2011,exportsM2012,exportsM2013,exportsM2014,exportsM2015,exportsM2016,exportsM2017,exportsM2018,exportsM2019,exportsM2020
0,ABW,2185030.0,494433.0,919278.0,121065.0,1618690.0,2585362.0,3267385.0,7025558.0,3936037.0,3434011.0,3932281.0,7537617.0,11187809.0,6735595.0,3298792.0
1,AFG,63461.0,0.0,0.0,0.0,0.0,0.0,0.0,1587.0,1348.0,12042.0,1199.0,0.0,0.0,3759.0,0.0
2,AGO,0.0,0.0,41348.0,0.0,576327.0,132118.0,719487.0,689374.0,491291.0,540300.0,708050.0,844048.0,1234062.0,519580.0,89352.0
3,AIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,62.0,30955.0,0.0,0.0,2615.0,0.0
4,ALB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15288.0,0.0,0.0,310705.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,YEM,0.0,0.0,0.0,0.0,0.0,0.0,261940.0,735609.0,861661.0,83670.0,0.0,0.0,62198.0,0.0,43852.0
240,YUG,0.0,48613.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
241,ZAF,56938640.0,44510267.0,82320863.0,34968326.0,24546517.0,67672873.0,73701930.0,59243485.0,46510006.0,42448801.0,15822284.0,20387408.0,48706766.0,96261216.0,48133566.0
242,ZMB,0.0,0.0,0.0,0.0,0.0,27928.0,3104.0,3567.0,443806.0,0.0,269639.0,528765.0,381624.0,200170.0,465187.0
243,ZWE,0.0,0.0,0.0,0.0,65810.0,0.0,834859.0,743054.0,280371.0,163963.0,467220.0,486105.0,312097.0,1085306.0,745234.0

In [25]:
worldGeoJson = gpd.read_file("ExportsMap/world.geojson")
worldGeoJson.rename(columns={'NAME':'country'}, inplace=True)
exportsMatrixGeoJSon = pd.merge(worldGeoJson, exportsMMatrix, how="left", left_on="ISO_A3", right_on="iso3")
exportsMatrixGeoJSon

,country,NAME_LONG,ADM0_A3,ISO_A2,ISO_A3,WB_A2,WB_A3,geometry,iso3,exportsM2006,...,exportsM2011,exportsM2012,exportsM2013,exportsM2014,exportsM2015,exportsM2016,exportsM2017,exportsM2018,exportsM2019,exportsM2020
0,Afghanistan,Afghanistan,AFG,AF,AFG,AF,AFG,"POLYGON ((74.89230 37.23110, 74.48730 37.22590...",AFG,63461.0,...,0.0,0.0,1587.0,1348.0,12042.0,1199.0,0.0,0.0,3759.0,0.0
1,Angola,Angola,AGO,AO,AGO,AO,AGO,"MULTIPOLYGON (((23.96750 -10.87230, 24.01120 -...",AGO,0.0,...,132118.0,719487.0,689374.0,491291.0,540300.0,708050.0,844048.0,1234062.0,519580.0,89352.0
2,Albania,Albania,ALB,AL,ALB,AL,ALB,"POLYGON ((20.06500 42.54680, 20.24960 42.31860...",ALB,0.0,...,0.0,0.0,0.0,0.0,0.0,15288.0,0.0,0.0,310705.0,0.0
3,Aland,Aland Islands,ALD,AX,ALA,-99,-99,"POLYGON ((19.91850 60.37020, 20.27760 60.27870...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,Andorra,AND,AD,AND,AD,ADO,"POLYGON ((1.70700 42.50280, 1.44790 42.43460, ...",AND,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,13208.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Zambia,Zambia,ZMB,ZM,ZMB,ZM,ZMB,"POLYGON ((32.92090 -9.40790, 32.97470 -9.60130...",ZMB,0.0,...,27928.0,3104.0,3567.0,443806.0,0.0,269639.0,528765.0,381624.0,200170.0,465187.0
195,Zimbabwe,Zimbabwe,ZWE,ZW,ZWE,ZW,ZWE,"POLYGON ((30.39630 -15.63600, 30.40260 -16.001...",ZWE,0.0,...,0.0,834859.0,743054.0,280371.0,163963.0,467220.0,486105.0,312097.0,1085306.0,745234.0
196,Vatican,Vatican City,VAT,VA,VAT,VA,VAT,"POLYGON ((12.45832 41.90260, 12.45835 41.90154...",VAT,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
197,San Marino,San Marino,SMR,SM,SMR,SM,SMR,"POLYGON ((12.44146 43.87457, 12.47505 43.89909...",SMR,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198,Antigua and Barbuda,Antigua and Barbuda,ATG,AG,ATG,AG,ATG,"POLYGON ((-61.86681 17.34757, -61.86550 17.369...",ATG,0.0,...,107248.0,14688.0,406817.0,73412.0,10150.0,12009.0,100932.0,8136.0,34112.0,4240.0

In [26]:
exportsMGeoJson = exportsMatrixGeoJSon[['country','exportsM2006','exportsM2007', 'exportsM2008','exportsM2009','exportsM2010','exportsM2011','exportsM2012','exportsM2013','exportsM2014','exportsM2015','exportsM2016','exportsM2017','exportsM2018','exportsM2019', 'exportsM2020', 'geometry']]
exportsMGeoJson.to_file("ExportsMap/exportsM.geojson", driver="GeoJSON")
exportsMGeoJson

,country,exportsM2006,exportsM2007,exportsM2008,exportsM2009,exportsM2010,exportsM2011,exportsM2012,exportsM2013,exportsM2014,exportsM2015,exportsM2016,exportsM2017,exportsM2018,exportsM2019,exportsM2020,geometry
0,Afghanistan,63461.0,0.0,0.0,0.0,0.0,0.0,0.0,1587.0,1348.0,12042.0,1199.0,0.0,0.0,3759.0,0.0,"POLYGON ((74.89230 37.23110, 74.48730 37.22590..."
1,Angola,0.0,0.0,41348.0,0.0,576327.0,132118.0,719487.0,689374.0,491291.0,540300.0,708050.0,844048.0,1234062.0,519580.0,89352.0,"MULTIPOLYGON (((23.96750 -10.87230, 24.01120 -..."
2,Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15288.0,0.0,0.0,310705.0,0.0,"POLYGON ((20.06500 42.54680, 20.24960 42.31860..."
3,Aland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((19.91850 60.37020, 20.27760 60.27870..."
4,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13208.0,0.0,0.0,0.0,"POLYGON ((1.70700 42.50280, 1.44790 42.43460, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Zambia,0.0,0.0,0.0,0.0,0.0,27928.0,3104.0,3567.0,443806.0,0.0,269639.0,528765.0,381624.0,200170.0,465187.0,"POLYGON ((32.92090 -9.40790, 32.97470 -9.60130..."
195,Zimbabwe,0.0,0.0,0.0,0.0,65810.0,0.0,834859.0,743054.0,280371.0,163963.0,467220.0,486105.0,312097.0,1085306.0,745234.0,"POLYGON ((30.39630 -15.63600, 30.40260 -16.001..."
196,Vatican,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"POLYGON ((12.45832 41.90260, 12.45835 41.90154..."
197,San Marino,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"POLYGON ((12.44146 43.87457, 12.47505 43.89909..."
198,Antigua and Barbuda,0.0,0.0,27825.0,32821.0,996.0,107248.0,14688.0,406817.0,73412.0,10150.0,12009.0,100932.0,8136.0,34112.0,4240.0,"POLYGON ((-61.86681 17.34757, -61.86550 17.369..."

In [14]:
exportsGrouby = exportsDF.groupby(["ENGLISH", "ANIO"])["UNI_VEH"].sum().unstack()
cleanExports = exportsGrouby.fillna(0).rename_axis("", axis="columns")
cleanExports

,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
ENGLISH,,,,,,,,,,,,,,,,,
Algeria,0.0,0.0,0.0,0.0,776.0,43.0,112.0,0.0,0.0,0.0,0.0,0.0,168.0,3639.0,3053.0,588.0,1.0
Angola,0.0,0.0,0.0,0.0,0.0,35.0,0.0,0.0,0.0,0.0,0.0,0.0,49.0,71.0,56.0,8.0,33.0
Anguilla,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
Antigua and Barbuda,4.0,1.0,1.0,0.0,5.0,2.0,4.0,6.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Argentina,6367.0,14717.0,17692.0,29780.0,25524.0,58483.0,69061.0,63021.0,61624.0,25720.0,39391.0,38994.0,40635.0,33129.0,5718.0,7338.0,4158.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uzbekistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Venezuela,6067.0,10653.0,26153.0,3163.0,0.0,7.0,0.0,10.0,182.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,34.0
Vietnam,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262.0,70.0,26.0,244.0
Yemen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,1260.0,56.0,11.0,0.0,34.0,0.0,0.0,4.0,0.0
Zaire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0

In [11]:
path = "VentaVehiculosMexico" # use your path
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
frame = pd.concat(li, axis=0, ignore_index=True)
countriesTable = pd.read_csv("ExportsMap/tc_pais_destino.csv")
salesDF = pd.merge(frame, countriesTable, how="left", left_on="ID_PAIS_ORIGEN", right_on="ID_PAIS_DESTINO")
salesCountryYear = salesDF.groupby(["ENGLISH", "ANIO"])["UNI_VEH"].sum().unstack()
cleanSales = salesCountryYear.fillna(0).rename_axis("", axis="columns")
cleanSales

,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
ENGLISH,,,,,,,,,,,,,,,,,
Argentina,28158.0,27920.0,32628.0,26484.0,18190.0,15008.0,13306.0,7599.0,7812.0,11678.0,13549.0,14202.0,10859.0,8371.0,13836.0,9315.0,4824.0
Austria,1050.0,1218.0,1195.0,808.0,510.0,512.0,635.0,115.0,133.0,130.0,138.0,247.0,462.0,185.0,541.0,516.0,284.0
Belgium,4864.0,2875.0,1336.0,541.0,343.0,817.0,1062.0,4455.0,4721.0,4305.0,4107.0,3112.0,2019.0,1785.0,1738.0,1263.0,875.0
Brazil,219941.0,180652.0,137302.0,107568.0,67905.0,67156.0,52532.0,48833.0,53647.0,51360.0,77592.0,104435.0,108742.0,87711.0,86339.0,83772.0,46422.0
Canada,28810.0,32161.0,31153.0,31590.0,22342.0,22076.0,28101.0,29429.0,28132.0,30510.0,27546.0,28289.0,21878.0,16271.0,19256.0,11167.0,6414.0
Chile,4661.0,488.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
China,82.0,0.0,0.0,5788.0,49.0,0.0,0.0,0.0,0.0,0.0,0.0,661.0,4674.0,93913.0,84664.0,38602.0,25630.0
Colombia,0.0,0.0,0.0,0.0,0.0,8979.0,7940.0,13157.0,14317.0,16426.0,13556.0,18587.0,17103.0,14068.0,10359.0,6113.0,3406.0
Czechia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3755.0,6885.0,10457.0,11093.0,9827.0,7293.0,5709.0,3434.0
Finland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
France,18579.0,15617.0,11989.0,9023.0,7368.0,5910.0,5847.0,5164.0,5021.0,4261.0,3623.0,3041.0,2939.0,4215.0,3093.0,3040.0,2322.0
Germany,21397.0,21264.0,21960.0,19846.0,17336.0,20805.0,24009.0,27108.0,31074.0,32245.0,37044.0,41971.0,44487.0,42891.0,38811.0,23427.0,10108.0
Hungary,94.0,140.0,435.0,399.0,209.0,121.0,79.0,70.0,1054.0,4202.0,4752.0,9621.0,9687.0,10729.0,9803.0,8774.0,4563.0
India,8043.0,3050.0,899.0,31.0,0.0,6129.0,18025.0,30924.0,51201.0,93600.0,130163.0,180764.0,198564.0,179093.0,166396.0,115701.0,60405.0
Indonesia,0.0,0.0,1307.0,2825.0,3021.0,3082.0,3672.0,4691.0,4873.0,6505.0,8254.0,11278.0,12294.0,12119.0,15454.0,12913.0,8611.0
Italy,3440.0,93.0,722.0,1211.0,1472.0,964.0,1552.0,1193.0,734.0,679.0,797.0,1556.0,1357.0,1431.0,1039.0,926.0,765.0
Japan,57253.0,81255.0,90046.0,102032.0,78200.0,81480.0,81433.0,81613.0,97163.0,110331.0,128378.0,148254.0,154641.0,150369.0,135539.0,91055.0,52003.0
Mexico,406131.0,415293.0,400820.0,414253.0,324213.0,374646.0,432572.0,466108.0,520892.0,534795.0,633812.0,716437.0,627052.0,496319.0,454671.0,361964.0,194782.0
Netherlands,255.0,207.0,39.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,223.0,388.0,302.0,1.0,0.0,0.0
Poland,0.0,0.0,330.0,445.0,464.0,179.0,468.0,301.0,9.0,528.0,1296.0,1782.0,2258.0,2347.0,2663.0,2842.0,336.0
Portugal,1131.0,886.0,618.0,385.0,99.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Serbia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274.0,338.0,143.0,52.0,50.0,18.0,4.0
Slovakia,593.0,653.0,1074.0,1254.0,594.0,428.0,471.0,1051.0,4072.0,5369.0,6437.0,7757.0,6923.0,3960.0,5033.0,1365.0,1203.0
South Korea,42338.0,47224.0,59032.0,48485.0,32059.0,36902.0,53254.0,67670.0,46159.0,41265.0,44521.0,61084.0,53858.0,46664.0,46996.0,25213.0,11608.0
Spain,30766.0,26769.0,25111.0,24297.0,25811.0,20759.0,28039.0,32325.0,31462.0,29825.0,30461.0,29358.0,28109.0,27875.0,27246.0,20376.0,13083.0
Sweden,3879.0,2952.0,2668.0,1813.0,687.0,484.0,273.0,349.0,84.0,55.0,233.0,696.0,644.0,929.0,446.0,978.0,668.0
Taiwan,0.0,0.0,225.0,1115.0,1236.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Thailand,7489.0,19076.0,18962.0,23276.0,17357.0,20875.0,17998.0,18648.0,18224.0,14370.0,35253.0,47063.0,54607.0,57829.0,50669.0,34393.0,18972.0
Turkey,4759.0,3857.0,2582.0,2589.0,1140.0,75.0,380.0,311.0,0.0,0.0,0.0,2491.0,5271.0,5793.0,3528.0,2746.0,59.0
United Kingdom,7030.0,4741.0,3946.0,4750.0,4505.0,5060.0,6282.0,7946.0,8359.0,8625.0,10509.0,10493.0,9591.0,12093.0,10990.0,9718.0,5395.0
United States,231025.0,251345.0,253511.0,194735.0,129815.0,127949.0,127963.0,138982.0,135955.0,132146.0,135264.0,152968.0,145300.0,139036.0,117887.0,75876.0,38809.0

In [19]:
combinedDF = cleanExports - cleanSales
combinedMatrix = combinedDF.reset_index().rename(columns={
    "ENGLISH":"country",
    2005:"balance2005",
    2006:"balance2006",
    2007:"balance2007",
    2008:"balance2008",
    2009:"balance2009",
    2010:"balance2010",
    2011:"balance2011",
    2012:"balance2012",
    2013:"balance2013",
    2014:"balance2014",
    2015:"balance2015",
    2016:"balance2016",
    2017:"balance2017",
    2018:"balance2018",
    2019:"balance2019",
    2020:"balance2020",
    2021:"balance2021",
})
combinedMatrix

,country,balance2005,balance2006,balance2007,balance2008,balance2009,balance2010,balance2011,balance2012,balance2013,balance2014,balance2015,balance2016,balance2017,balance2018,balance2019,balance2020,balance2021
0,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,-21791.0,-13203.0,-14936.0,3296.0,7334.0,43475.0,55755.0,55422.0,53812.0,14042.0,25842.0,24792.0,29776.0,24758.0,-8118.0,-1977.0,-666.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,Zaire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
worldGeoJson = gpd.read_file("ExportsMap/world.geojson")
worldGeoJson.rename(columns={'NAME':'country'}, inplace=True)
combinedMatrixGeoJSon = pd.merge(worldGeoJson, combinedMatrix, how="left", on=["country", "country"])
combinedMatrixGeoJSon

,country,NAME_LONG,ADM0_A3,ISO_A2,ISO_A3,WB_A2,WB_A3,geometry,balance2005,balance2006,...,balance2012,balance2013,balance2014,balance2015,balance2016,balance2017,balance2018,balance2019,balance2020,balance2021
0,Afghanistan,Afghanistan,AFG,AF,AFG,AF,AFG,"POLYGON ((74.89230 37.23110, 74.48730 37.22590...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Angola,Angola,AGO,AO,AGO,AO,AGO,"MULTIPOLYGON (((23.96750 -10.87230, 24.01120 -...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,Albania,ALB,AL,ALB,AL,ALB,"POLYGON ((20.06500 42.54680, 20.24960 42.31860...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aland,Aland Islands,ALD,AX,ALA,-99,-99,"POLYGON ((19.91850 60.37020, 20.27760 60.27870...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,Andorra,AND,AD,AND,AD,ADO,"POLYGON ((1.70700 42.50280, 1.44790 42.43460, ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Zambia,Zambia,ZMB,ZM,ZMB,ZM,ZMB,"POLYGON ((32.92090 -9.40790, 32.97470 -9.60130...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,Zimbabwe,Zimbabwe,ZWE,ZW,ZWE,ZW,ZWE,"POLYGON ((30.39630 -15.63600, 30.40260 -16.001...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,Vatican,Vatican City,VAT,VA,VAT,VA,VAT,"POLYGON ((12.45832 41.90260, 12.45835 41.90154...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,San Marino,San Marino,SMR,SM,SMR,SM,SMR,"POLYGON ((12.44146 43.87457, 12.47505 43.89909...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,Antigua and Barbuda,Antigua and Barbuda,ATG,AG,ATG,AG,ATG,"POLYGON ((-61.86681 17.34757, -61.86550 17.369...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
combinedGeoJson = combinedMatrixGeoJSon[['country', 'balance2005','balance2006','balance2007', 'balance2008','balance2009','balance2010','balance2011','balance2012','balance2013','balance2014','balance2015','balance2016','balance2017','balance2018','balance2019', 'balance2020', 'balance2021', 'geometry']]
combinedGeoJson.to_file("ExportsMap/combined.geojson", driver="GeoJSON")
combinedGeoJson

,country,balance2005,balance2006,balance2007,balance2008,balance2009,balance2010,balance2011,balance2012,balance2013,balance2014,balance2015,balance2016,balance2017,balance2018,balance2019,balance2020,balance2021,geometry
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((74.89230 37.23110, 74.48730 37.22590..."
1,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((23.96750 -10.87230, 24.01120 -..."
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((20.06500 42.54680, 20.24960 42.31860..."
3,Aland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((19.91850 60.37020, 20.27760 60.27870..."
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((1.70700 42.50280, 1.44790 42.43460, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((32.92090 -9.40790, 32.97470 -9.60130..."
195,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((30.39630 -15.63600, 30.40260 -16.001..."
196,Vatican,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((12.45832 41.90260, 12.45835 41.90154..."
197,San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((12.44146 43.87457, 12.47505 43.89909..."
198,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-61.86681 17.34757, -61.86550 17.369..."