### Nota
Este código importa todos los archivos .csv que esten en la carpeta VentaVehiculosMexico y los agrupa en un solo DF, contiene los datos de Venta de Vehículos en México del 2005-2021.

In [7]:
import pandas as pd
import glob
import geojson
import geopandas as gpd

path = "VentaVehiculosMexico" # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
countriesTable = pd.read_csv("ExportsMap/tc_pais_destino.csv")
salesDF = pd.merge(frame, countriesTable, how="left", left_on="ID_PAIS_ORIGEN", right_on="ID_PAIS_DESTINO")

In [8]:
salesDF.columns

Index(['PROD_EST', 'COBERTURA', 'ANIO', 'ID_MES', 'MARCA', 'MODELO', 'TIPO',
       'SEGMENTO', 'ORIGEN', 'ID_PAIS_ORIGEN', 'UNI_VEH', 'ID_PAIS_DESTINO',
       'DESC_PAIS_DESTINO', 'ENGLISH'],
      dtype='object')

In [10]:
salesCountryYear= salesDF.groupby(["ENGLISH", "ANIO"])["UNI_VEH"].sum().unstack().reset_index()
salesMatrix = salesCountryYear.fillna(0).rename_axis("", axis="columns").rename(columns={
    "ENGLISH":"country",
    2005:"sales2005",
    2006:"sales2006",
    2007:"sales2007",
    2008:"sales2008",
    2009:"sales2009",
    2010:"sales2010",
    2011:"sales2011",
    2012:"sales2012",
    2013:"sales2013",
    2014:"sales2014",
    2015:"sales2015",
    2016:"sales2016",
    2017:"sales2017",
    2018:"sales2018",
    2019:"sales2019",
    2020:"sales2020",
    2021:"sales2021",
})
salesMatrix

,country,sales2005,sales2006,sales2007,sales2008,sales2009,sales2010,sales2011,sales2012,sales2013,sales2014,sales2015,sales2016,sales2017,sales2018,sales2019,sales2020,sales2021
0,Argentina,28158.0,27920.0,32628.0,26484.0,18190.0,15008.0,13306.0,7599.0,7812.0,11678.0,13549.0,14202.0,10859.0,8371.0,13836.0,9315.0,4824.0
1,Austria,1050.0,1218.0,1195.0,808.0,510.0,512.0,635.0,115.0,133.0,130.0,138.0,247.0,462.0,185.0,541.0,516.0,284.0
2,Belgium,4864.0,2875.0,1336.0,541.0,343.0,817.0,1062.0,4455.0,4721.0,4305.0,4107.0,3112.0,2019.0,1785.0,1738.0,1263.0,875.0
3,Brazil,219941.0,180652.0,137302.0,107568.0,67905.0,67156.0,52532.0,48833.0,53647.0,51360.0,77592.0,104435.0,108742.0,87711.0,86339.0,83772.0,46422.0
4,Canada,28810.0,32161.0,31153.0,31590.0,22342.0,22076.0,28101.0,29429.0,28132.0,30510.0,27546.0,28289.0,21878.0,16271.0,19256.0,11167.0,6414.0
5,Chile,4661.0,488.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,China,82.0,0.0,0.0,5788.0,49.0,0.0,0.0,0.0,0.0,0.0,0.0,661.0,4674.0,93913.0,84664.0,38602.0,25630.0
7,Colombia,0.0,0.0,0.0,0.0,0.0,8979.0,7940.0,13157.0,14317.0,16426.0,13556.0,18587.0,17103.0,14068.0,10359.0,6113.0,3406.0
8,Czechia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3755.0,6885.0,10457.0,11093.0,9827.0,7293.0,5709.0,3434.0
9,Finland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,France,18579.0,15617.0,11989.0,9023.0,7368.0,5910.0,5847.0,5164.0,5021.0,4261.0,3623.0,3041.0,2939.0,4215.0,3093.0,3040.0,2322.0
11,Germany,21397.0,21264.0,21960.0,19846.0,17336.0,20805.0,24009.0,27108.0,31074.0,32245.0,37044.0,41971.0,44487.0,42891.0,38811.0,23427.0,10108.0
12,Hungary,94.0,140.0,435.0,399.0,209.0,121.0,79.0,70.0,1054.0,4202.0,4752.0,9621.0,9687.0,10729.0,9803.0,8774.0,4563.0
13,India,8043.0,3050.0,899.0,31.0,0.0,6129.0,18025.0,30924.0,51201.0,93600.0,130163.0,180764.0,198564.0,179093.0,166396.0,115701.0,60405.0
14,Indonesia,0.0,0.0,1307.0,2825.0,3021.0,3082.0,3672.0,4691.0,4873.0,6505.0,8254.0,11278.0,12294.0,12119.0,15454.0,12913.0,8611.0
15,Italy,3440.0,93.0,722.0,1211.0,1472.0,964.0,1552.0,1193.0,734.0,679.0,797.0,1556.0,1357.0,1431.0,1039.0,926.0,765.0
16,Japan,57253.0,81255.0,90046.0,102032.0,78200.0,81480.0,81433.0,81613.0,97163.0,110331.0,128378.0,148254.0,154641.0,150369.0,135539.0,91055.0,52003.0
17,Mexico,406131.0,415293.0,400820.0,414253.0,324213.0,374646.0,432572.0,466108.0,520892.0,534795.0,633812.0,716437.0,627052.0,496319.0,454671.0,361964.0,194782.0
18,Netherlands,255.0,207.0,39.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,223.0,388.0,302.0,1.0,0.0,0.0
19,Poland,0.0,0.0,330.0,445.0,464.0,179.0,468.0,301.0,9.0,528.0,1296.0,1782.0,2258.0,2347.0,2663.0,2842.0,336.0
20,Portugal,1131.0,886.0,618.0,385.0,99.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,Serbia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,274.0,338.0,143.0,52.0,50.0,18.0,4.0
22,Slovakia,593.0,653.0,1074.0,1254.0,594.0,428.0,471.0,1051.0,4072.0,5369.0,6437.0,7757.0,6923.0,3960.0,5033.0,1365.0,1203.0
23,South Korea,42338.0,47224.0,59032.0,48485.0,32059.0,36902.0,53254.0,67670.0,46159.0,41265.0,44521.0,61084.0,53858.0,46664.0,46996.0,25213.0,11608.0
24,Spain,30766.0,26769.0,25111.0,24297.0,25811.0,20759.0,28039.0,32325.0,31462.0,29825.0,30461.0,29358.0,28109.0,27875.0,27246.0,20376.0,13083.0
25,Sweden,3879.0,2952.0,2668.0,1813.0,687.0,484.0,273.0,349.0,84.0,55.0,233.0,696.0,644.0,929.0,446.0,978.0,668.0
26,Taiwan,0.0,0.0,225.0,1115.0,1236.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,Thailand,7489.0,19076.0,18962.0,23276.0,17357.0,20875.0,17998.0,18648.0,18224.0,14370.0,35253.0,47063.0,54607.0,57829.0,50669.0,34393.0,18972.0
28,Turkey,4759.0,3857.0,2582.0,2589.0,1140.0,75.0,380.0,311.0,0.0,0.0,0.0,2491.0,5271.0,5793.0,3528.0,2746.0,59.0
29,United Kingdom,7030.0,4741.0,3946.0,4750.0,4505.0,5060.0,6282.0,7946.0,8359.0,8625.0,10509.0,10493.0,9591.0,12093.0,10990.0,9718.0,5395.0
30,United States,231025.0,251345.0,253511.0,194735.0,129815.0,127949.0,127963.0,138982.0,135955.0,132146.0,135264.0,152968.0,145300.0,139036.0,117887.0,75876.0,38809.0

In [16]:
worldGeoJson = gpd.read_file("ExportsMap/world.geojson")
worldGeoJson.rename(columns={'NAME':'country'}, inplace=True)
salesMatrixGeoJson = pd.merge(worldGeoJson, salesMatrix, how="left", on=["country", "country"])
salesMatrixGeoJson

,country,NAME_LONG,ADM0_A3,ISO_A2,ISO_A3,WB_A2,WB_A3,geometry,sales2005,sales2006,...,sales2012,sales2013,sales2014,sales2015,sales2016,sales2017,sales2018,sales2019,sales2020,sales2021
0,Afghanistan,Afghanistan,AFG,AF,AFG,AF,AFG,"POLYGON ((74.89230 37.23110, 74.48730 37.22590...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Angola,Angola,AGO,AO,AGO,AO,AGO,"MULTIPOLYGON (((23.96750 -10.87230, 24.01120 -...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,Albania,ALB,AL,ALB,AL,ALB,"POLYGON ((20.06500 42.54680, 20.24960 42.31860...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aland,Aland Islands,ALD,AX,ALA,-99,-99,"POLYGON ((19.91850 60.37020, 20.27760 60.27870...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,Andorra,AND,AD,AND,AD,ADO,"POLYGON ((1.70700 42.50280, 1.44790 42.43460, ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Zambia,Zambia,ZMB,ZM,ZMB,ZM,ZMB,"POLYGON ((32.92090 -9.40790, 32.97470 -9.60130...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,Zimbabwe,Zimbabwe,ZWE,ZW,ZWE,ZW,ZWE,"POLYGON ((30.39630 -15.63600, 30.40260 -16.001...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,Vatican,Vatican City,VAT,VA,VAT,VA,VAT,"POLYGON ((12.45832 41.90260, 12.45835 41.90154...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,San Marino,San Marino,SMR,SM,SMR,SM,SMR,"POLYGON ((12.44146 43.87457, 12.47505 43.89909...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,Antigua and Barbuda,Antigua and Barbuda,ATG,AG,ATG,AG,ATG,"POLYGON ((-61.86681 17.34757, -61.86550 17.369...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
salesGeoJson = salesMatrixGeoJson[['country', 'sales2005','sales2006','sales2007', 'sales2008','sales2009','sales2010','sales2011','sales2012','sales2013','sales2014','sales2015','sales2016','sales2017','sales2018','sales2019', 'sales2020', 'sales2021', 'geometry']]
salesGeoJson.to_file("ExportsMap/sales.geojson", driver="GeoJSON")
salesGeoJson

,country,sales2005,sales2006,sales2007,sales2008,sales2009,sales2010,sales2011,sales2012,sales2013,sales2014,sales2015,sales2016,sales2017,sales2018,sales2019,sales2020,sales2021,geometry
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((74.89230 37.23110, 74.48730 37.22590..."
1,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((23.96750 -10.87230, 24.01120 -..."
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((20.06500 42.54680, 20.24960 42.31860..."
3,Aland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((19.91850 60.37020, 20.27760 60.27870..."
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((1.70700 42.50280, 1.44790 42.43460, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((32.92090 -9.40790, 32.97470 -9.60130..."
195,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((30.39630 -15.63600, 30.40260 -16.001..."
196,Vatican,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((12.45832 41.90260, 12.45835 41.90154..."
197,San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((12.44146 43.87457, 12.47505 43.89909..."
198,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-61.86681 17.34757, -61.86550 17.369..."